
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>i=@ViewData["i"]</h1>
        <h1>g=@ViewData["g"]</h1>
    </div>
</body>
</html>
