<#@ output extension=".txt" #>
<#@ include file="$(ProjectDir)/MySqlT4\DbHelper.ttinclude"#>

using System.Collections.Generic;
using System;
using BeeCre.EThing.Model;
using Kina.Infrastructure.Repository;

namespace BeeCre.EThing.Repository
{	
	
	public interface <#=config.IRepositoryName#> : IRepository<<#=config.ModelName#>>
	{

    }
}